/*base*/


:root {}


.mainDiv>p,
.mainDiv>img,
.mainDiv>pre{
    width: 35%;
    left: 32.5%;
    position: relative;
    font-size: 25px;
}
.mainDiv>img:hover{
    cursor: pointer;
}


.mainDiv>img{
    transition: 0.1s ease-out;
    border-radius: 20px;
}

.mainDiv{
    position: relative;
}
.figure-sub{
    font-size: 17px !important;
    text-align: center;
}

.title{
    width: 100%;
}
.title>a{
    display: inline-block;
    font-size: 30px;
    text-align: center;
    width: 100%;
    color: cadetblue;
}
.title>h1{
    text-align: center;
    font-size: 40px;
}


body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mainDiv {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100vw;
    position: relative;
}

.navDiv {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 50%;
    z-index: 100000;
}

#slideshow-div {
    color: white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    z-index: 2;
}

.banner {
    width: 100vw;
    height: 5vh;
    z-index: 1000;
}

/*pre-builds*/


.only-mobile {
    visibility: hidden;
    width: 100%;
    height: 0%;
}

.override-pos-absolute {
    position: absolute !important;
}


.override-pos-relative {
    position: relative !important;
}

.right-minus-100 {
    right: -150px !important;
}

.fill-height {
    height: 100%;
    position: relative;
}

.larger {
    height: 130% !important;
}

.higher {
    position: relative;
    top: -85% !important;
}

.fill-width {
    width: 100%;
    position: relative;
}

.al-txt-cntr {
    justify-content: center;
}

.al-txt-mdl {
    display: flex;
    align-items: center;
}

.al-txt-btm {
    align-items: bottom;
}

.smaller {
    height: 30% !important;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.rotate90 {
    transform: rotate(90deg) !important;
}

.flip-horizontal {
    transform: scale(-1, 1);

}

.top-margin-100px {
    margin-top: 100px;
}


.medium-high {
    top: -60% !important;
    position: relative !important;
}

.graph {
    height: 180% !important;
}

.right-minus-50 {
    right: -50px !important;
}

.right-plus-50 {
    right: 50px !important;
}

.medium-higher {
    top: -90% !important;
    position: relative !important;
}

/*customs*/

.banner {
    height: 50px;
    width: 100vw !important;
    left: 0vw;
    position: absolute;
    line-height: 50px;
    font-size: 30px;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    justify-content: space-evenly;
    background-color: #ffffff;
    border: 5px solid rgb(255, 255, 255);
    color: #000000;
    top: 50%;
}

.banner>a {
    text-align: center;
    border-right: 2px solid black;
}

.banner>a:hover{
    background-color: #000000;
    cursor: pointer;
}

.banner>a {
    color: rgb(255, 94, 0);
}


.mover {
    width: 10%;
    z-index: 1001;
    transition: 0.2s linear;
    font-size: 50px;
    height: inherit;
    position: absolute;
    height: 50%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.mover:hover {
    cursor: pointer;
}

#mv-fwr {
    right: 0;
}

#mv-bck {
    left: 0;
}

.mover:hover {
    background-color: rgba(102, 102, 102, 0.321);
}

.content {
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    gap: 0px;
    left: 0%;
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
    height: 100%;
    z-index: 1000;
}

.dot-holder {
    top: calc(50% - 20px);
    gap: 7px;
    z-index: 10001;
}

.dot-holder>div {
    background-color: rgba(124, 124, 124, 0.585);
    width: 10px;
    height: 10px;
    border-radius: 100px;
}

.dot-holder>.active {
    background-color: rgb(170, 170, 170);

}

.dot-holder>div:hover {
    cursor: pointer;
}

#lantern {
    position: relative;
    z-index: 111;
}

#lantern>img {
    position: relative;
    transform: rotate(15deg);

}

#lantern>.light_content {
    position: relative;

    width: 100vw;
    text-align: center;
    top: 50px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.light_content>span {
    font-size: 30px;

}

.content-img {
    rotate: -90deg !important;
    right: 0;
    z-index: 1;
    position: relative;
}

.medium {
    height: 100%;
}

.extra-large {
    height: 200%;
}

.mega-large {
    height: 280%;
    top: -200px;
    position: relative;
}




.ghost {
    display: grid;
    width: 70%;
    left: 15%;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    row-gap: 50px;
}

.box {
    width: 400px;
    height: 250px;


    color: #000000;
    transform: translateX(40px);

    opacity: 0;

    position: relative;
    transition: opacity 0.6s ease, transform 0.6s ease;
    padding: 50px;
    border-radius: 50px;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

    box-shadow: 5px 5px rgb(0, 0, 0);
}

.box.active {
    opacity: 1;
    transform: translateX(0);
}

.box>img {
    grid-column: 2;
    grid-row: 1;
    top: 30%;
    left: 10%;
    position: relative;
}

.box>a {
    grid-column: 1;
    grid-row: 1;
    color: black;
}

.box>p {
    grid-column: 1;
    grid-row: 3;
    position: relative;
    left: 0;
}

.sideimage>{
    position:absolute;
}
.sideimage>img{
    height: 100%;
    top:10%;
    position: absolute;
}

.sideimage>.right{
    right: 0;
    transform: scale(-1,1);
}

@media (min-width: 480px) {


    .undercontent {
        width: 70%;
        left: 15%;
        position: relative;
        transform: translateX(0);
        transition: 1s linear;


        height: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .undercontent>.text-undercontent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;


        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }


    .text-undercontent>h1 {
        font-size: 50px;
    }

    .text-undercontent>h4,
    .text-undercontent>h3 {
        font-size: 25px;
    }

    .image-on-right>img {
        grid-column-start: 3;
        grid-column-end: 5;

        grid-row-start: 1;
        grid-row-end: 5;

    }

    .a-bit-smaller {
        max-width: 80% !important;
        max-height: 80% !important;

        top: 10%;
    }


    .tiny-bit-smaller {
        max-width: 90% !important;
        max-height: 90% !important;

        top: 5%;
    }


    .medium-smaller{
        max-width: 60% !important; 
        max-height: 60% !important;
        top:10%;
    }

    .skim-on-top {
        top: 20%;
    }


    .undercontent>img {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
    }


    .image-on-bottom>.text-undercontent {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .image-on-bottom>img {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .extra-smaller{
        max-width: 50% !important;
        max-height: 50% !important; 

    }

}